.Contenedor1{
    display: flex;
    text-align: left;
    justify-content: center;
    flex-direction: column;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(21,0,97,0.8295693277310925) 65%, rgba(0,0,0,1) 88%);
    overflow: -moz-hidden-unscrollable;
    height: 100%;
    
} 

.Link{
    text-decoration: none;
    width: 3%;
    margin-left: 3px;
}

.ContenedorScrips{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
    
}
.ContenedorHacker{
    width: 50%;
    display: flex;
    justify-content: space-between;
}

/* .Contenedor{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(21,0,97,0.8295693277310925) 65%, rgba(0,0,0,1) 88%);
    overflow: -moz-hidden-unscrollable;
} */

.BackButton{
    align-self: flex-start;
    margin-top: 10px;
    margin-left: 10px;
    font-family: 'Common Pixel', sans-serif;
    font-size: 15px;
    width: 100px;
    height: 35px;
    color: rgb(255, 230, 2);
    border-radius: 15px 30px;
    border: 1px solid rgb(253, 249, 19);
    background:rgba(50, 54, 255, 0.541);
}

.BackButton:hover{
    background: rgba(243, 255, 87, 1);
    color: blue;
    border-color: 3px solid blue;
    cursor: url("https://cdn.custom-cursor.com/db/13573/32/minimal-pikachu-pointer.png"), auto;
    transform: scale(1.08);
}



/* .Title{
    margin-top: 0px;
    font-family: 'ProggyCleanTTSZBP', sans-serif;
    font-size: 70px;
    color: rgb(217, 255, 0);
} */

.Img{
    width: 60%;
    height: 60%;
    justify-self: center;
    align-self: center;
}
/*
.Text{
    color: rgb(217, 255, 0);
    width: 80%;
    align-self: center;
    font-family: 'ProggyCleanTTSZBP', sans-serif;
    font-size: 60px;
} */ 

/* /////////////////////////////////////////////////////////////////// */


.container{
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}

.window{
    display: flex;
    overflow: hidden;
    justify-self: center;
    background-color: rgba(0, 0, 0, 0.904);
    padding-bottom: 22px;
    width: 80%;
    height: fit-content;
    border-radius: 20px;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
    /* box-shadow: 10px 10px 10px -1px #c7ced1b4; */

}

.barraWindow{
    display:flex;
    background: rgb(139,139,139);
background: linear-gradient(0deg, rgba(139,139,139,1) 0%, rgba(139,139,139,1) 0%, rgba(232,232,232,1) 50%, rgba(139,139,139,1) 100%, rgba(139,139,139,1) 100%);
    width: 100%;
    height: 2%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.NameBash{
    font-size: 23px;
    margin-top: 3px;
    margin-left: 36%;
    font-family: sans-serif;
    font-weight: lighter;
    color: rgb(34, 34, 34);
}

.red{
    display: flex;
    background: rgb(139,139,139);
    background: radial-gradient(circle, rgba(139,139,139,1) 0%, rgba(255,106,106,1) 0%, rgba(255,0,0,1) 0%, rgba(144,0,0,1) 100%, rgba(144,0,0,1) 100%, rgba(139,139,139,1) 100%, rgba(139,139,139,1) 100%);
    height: 20px;
    width: 20px; 
    border-radius: 100px;
    margin: 5px;
    margin-left: 12px;
    border: none
}

.red:hover{
    cursor: url("https://cdn.custom-cursor.com/db/13574/32/minimal-pikachu-cursor.png"), auto;
}
.yellow{
    display: flex;
    background: rgb(247,255,0);
    background: radial-gradient(circle, rgba(247,255,0,1) 0%, rgba(247,255,0,1) 0%, rgba(158,169,1,1) 100%);
    height: 20px;
    width: 20px;
    border-radius: 100px;
    margin: 5px;
    border: none;
}
.yellow:hover{
    cursor: url("https://cdn.custom-cursor.com/db/13574/32/minimal-pikachu-cursor.png"), auto;
}
.green{
    display: flex;
    background: rgb(59,255,0);
    background: radial-gradient(circle, rgba(59,255,0,1) 0%, rgba(17,146,0,1) 100%);
    height: 20px;
    width: 20px;
    border-radius: 100px;
    margin: 5px;
    border: none;
}
.green:hover{
    cursor: url("https://cdn.custom-cursor.com/db/13574/32/minimal-pikachu-cursor.png"), auto;
}


.ContenedorScrips b{
    color: white;
    white-space: nowrap;
    overflow: hidden;
    margin-left: 25px;
    font-size: 20px;
    font: 1.2rem Inconsolata, monospace;
    text-shadow: 0 0 5px #C8C8C8;
    /* animation: typing 2s steps(22), blink .5s step-end infinite alternate; */
}

.contenedorBash{
    margin-top: 0px;
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    height: 100%;
}

.icon{
    width: 18px;
    height: 18px;
}

.linkedin{
    color: white;
}
.linkedin:hover{
    color: white;
    text-decoration: none;
    cursor: url("https://cdn.custom-cursor.com/db/13573/32/minimal-pikachu-pointer.png"), auto;
}
.gmail{
    color: white;
    text-decoration: none;
    cursor: url("https://cdn.custom-cursor.com/db/13573/32/minimal-pikachu-pointer.png"), auto;
}

.b1{
    width: 0%;
    animation-name: typing;
    animation-duration: 4s;
    animation-iteration-count: inherit;
    animation-fill-mode: forwards;
}



.b2{
    width: 0%;
    animation-name: typing;
    animation-delay: 1s;
    animation-duration: 3s;
    animation-iteration-count: inherit;
    animation-fill-mode: forwards;
}

.b3{
    width: 0%;
    animation-name: typing;
    animation-delay: 2s;
    animation-duration: 3s;
    animation-iteration-count: inherit;
    animation-fill-mode: forwards;
}

.b4{
    width: 0%;
    animation-name: typing;
    animation-delay: 3s;
    animation-duration: 3s;
    animation-iteration-count: inherit;
    animation-fill-mode: forwards;
}

.b5{
    width: 0%;
    animation-name: typing;
    animation-delay: 4s;
    animation-duration: 3s;
    animation-iteration-count: inherit;
    animation-fill-mode: forwards;
}

.b6{
    width: 0%;
    animation-name: typing;
    animation-delay: 5s;
    animation-duration: 3s;
    animation-iteration-count: inherit;
    animation-fill-mode: forwards;
}

.b7{
    width: 0%;
    animation-name: typing;
    animation-delay: 6s;
    animation-duration: 3s;
    animation-iteration-count: inherit;
    animation-fill-mode: forwards;
}

.b8{
    width: 0%;
    animation-name: typing;
    animation-delay: 7s;
    animation-duration: 3s;
    animation-iteration-count: inherit;
    animation-fill-mode: forwards;   
}

.b9{
    width: 0%;
    animation-name: typing;
    animation-delay: 8s;
    animation-duration: 3s;
    animation-iteration-count: inherit;
    animation-fill-mode: forwards;   
}

@keyframes typing {
    from{width: 0%}
    to{width: 100%}
}

@keyframes blink-caret{
    from, to{ border-color: transparent}
    50%{border-color: white;}
}
