.containerCard{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    user-select: none;
}
/*
.card{
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
    border: 1px solid black ;
    border-radius: 20px;
    margin-top: 45px;
    align-items: center;
    background-color: white;
}
*/


/* Imagenes */
.img{
  object-fit: cover;
  margin-top: 40px;
  width: 70%;
  border-radius: 34px;
  height: 70%;
}
.image{
  margin-top: 40px;
  width: 90%;
  height: 60%;
}

.contenedorNoPokemons{
  display: flex;
  text-align: center;
  justify-items: center;
  justify-content: center;
  flex-direction: column;
}

.NoPokemonsIMG{
  display: flex;
  text-align: center;
  justify-content: center;
  justify-self: center;
  width: 500px;
  height: 800px;
  margin-right: 300px;
}

.imgDefault{
    margin-top: 70px;
    width: 400px;
    height: 800px;
}

.BackButton{
    margin-top: 10px;
    margin-left: 10px;
    font-family: 'Common Pixel', sans-serif;
    font-size: 15px;
    width:110px;
    height:35px;
    border-width:1px;
    color: rgb(255, 230, 2);
    border-radius: 15px 30px;
    border-color: rgb(253, 249, 19);;
    background:rgba(50, 54, 255, 0.541);
}

.BackButton:hover{
    background: rgba(243, 255, 87, 1);
    color: blue;
    border-color: 3px solid blue;
    cursor: url("https://cdn.custom-cursor.com/db/13573/32/minimal-pikachu-pointer.png"), auto;
    transform: scale(1.08);
}

.icon{
  margin-right: 12px;
  height: 25px;
  width: 30px;
  border-radius: 10px;
  border: none;
  background-color: rgba(146, 146, 146, 0);
  border-radius: 50%;
  padding: 4px;  
}

/* .iconSword{
    margin-right: 5px;
    height: 55px;
    width: 60px;
    border-radius: 10px;
} */

.contenedor{
  display: flex;
  justify-content: center;
  text-align: center;
}

.flip_card {
  background-color: transparent;
  width: 30%;
  height: 800px;
  margin-top: 45px;
  margin: 40px;
}

.flip_card_inner {
  position: flex;
  width: 700px;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d; 
}

/* Flippea la card */
.flip_card:hover .flip_card_inner {
  transform: rotateY(180deg);
}

/* Posicion de atras y adelante */
.flip_card_front, .flip_card_back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; 
  backface-visibility: hidden;
  border-radius: 20px;
  align-items: center;
  backdrop-filter: blur(10px);
}

/* Estilos de adelante  */
.flip_card_front {
  color: rgb(0, 0, 0);
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(255,255,255,0.8295693277310925) 100%);
}

/* Estilos de atras*/
.flip_card_back {
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(255, 241, 111, 0.63) 100%);
  color: black;
  transform: rotateY(180deg);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  user-select: none;
}

/* Estilos del Link*/
.Link{
    text-decoration: none;
}

/* Estilos del nombre del Pokemon*/
.name{
  color: rgb(241, 241, 41);
  -webkit-text-stroke: 3px rgb(13, 93, 223);
  letter-spacing: 11px;
  font-size: 80px;
  font-family: 'Pokemon Solid', sans-serif;
  text-transform: capitalize;
  margin: 0px;
  margin-top: 50px;
}

.id{
  font-size: 50px;
  font-family: 'ProggyCleanTTSZBP', sans-serif;
  text-transform: capitalize;
  margin: 0px;
}

.stats{
  font-family: 'ProggyCleanTTSZBP', sans-serif;
  font-size: 35px; 
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  flex-direction: column;
  margin-top: 10px;
  width: 100%;
}

.statsColumns{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;

}


.statB{
  text-align: center;
  margin-bottom: 35px;
  width: 50%;
}

.tipos{
  font-family: 'ProggyCleanTTSZBP', sans-serif;
  font-size: 35px;
  margin-right: 26px;
  margin-bottom: 2px;
}

.tiposCu{
  font-family: 'ProggyCleanTTSZBP', sans-serif;
  font-size: 36px;
  margin: 0px;
  text-transform: capitalize;
}