.container1{
    width: 60%; 
    background-color: #eaeaea;
    display: inline-block;
    
    .link{
        text-decoration: none;
    }
   
    .presentation{
        padding-left: 3%;
        padding-right: 3%;
        padding-bottom: 2%;  

        .title{
            margin-top: 2.5%;
            padding-bottom: 1.6%;
            font-weight: 600;
        }

        .text{
            font-weight: 300;
            font-size: 1.6rem;
        }
    }

    .destacados{
        padding-top: 2.7%;
        padding-right: 3%;
        padding-bottom: 2.5%;

        .subtitle{
            padding-left: 24%;
            padding-bottom: 2.5%;
            font-weight: 250;
        }

        .button{
            margin-left: 35%;
            width: 27%;
            padding-top: 1%;
            padding-bottom: 1%;
            background: #2C666E;
            text-align: center;
            border-radius: 10px;
            border: 1px solid rgba(31, 29, 29, 0.25);
            color: #FFFFFF;
            font-size: 2rem;
            
            &:hover{
                transition: 0.5s;
                background: #3e909b;
            }
        }
    }    
}

.container2{
    background-image: url(assets/mapa_fondo.svg);
    display: inline-block;
    width: 40%;
    height: 100%;

    .title_mapa{
        font-weight: 800;
        font-size: 3rem;
        padding-left: 12%;

    }

    .button{
        margin-left: 38%;
        width: 27%;
        padding-top: 1%;
        padding-bottom: 1%;
        background: #2C666E;
        text-align: center;
        border-radius: 10px;
        border: 1px solid rgba(31, 29, 29, 0.25);
        color: #FFFFFF;
        font-size: 2rem;
        
        &:hover{
            transition: 0.5s;
            background: #3e909b;
        }
    }
}
