.container{
    min-height: 100vh;
    min-width: 100vh;  
    background-color: #eaeaea;

    .link{
        transition: 0.5s;
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
        text-decoration: none;
    }

    .presentation{
        margin-left: 3%;
        margin-right: 40.45%;
        margin-top: 2.5%;
        margin-bottom: 2%;  

        .title{
            font-weight: 600;
        }

        .text{
            font-weight: 300;
            font-size: 16px;
        }
    }

    .destacados{
        margin-left: 15%;
        margin-right: 3%;
        margin-top: 2.5%;
        margin-bottom: 2.5%;

        .subtitle{
            font-weight: 250;
            margin-bottom: 2.5%;
        }

        .button{
            margin-right: 62%;
            margin-top: 2.5%;
            width: 25%;
            height: 40px;
            background: #2C666E;
            border-radius: 10px;
            border: 1px solid rgba(31, 29, 29, 0.25);
            color: #FFFFFF;
            font-size: 2rem;
            
            &:hover{
                transition: 0.5s;
                background: #3e909b;
            }
        }
    }

    
}