.container {
  height: 90%;
  width: 100%;
  display: flex;
  background: rgba(217, 217, 217, 0.2);

  .leftContainer {
    margin-top: 1.5%;
    margin-bottom: 1%;
    margin-right: -2.5%;
    height: 97.5%;
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .profileInfo {
      height: 25%;
      display: flex;
      flex-direction: row;
      margin-bottom: 10%;
      width: 90%;

      .profile_Img_container {
        display: flex;
        width: 30%;

        justify-content: center;
        align-items: center;

        .profile_Img {
          width: 55%;
          height: 80%;
          border-radius: 50%;
          border: 15px solid rgba(0, 0, 0, 0.041);
          object-fit: cover;
        }
      }

      .profileDetail {
        width: 70%;

        .name {
          font-size: 4.4rem;
          line-height: 5rem;
          color: #000000;
        }

        .location {
          font-size: 2.3rem;
          line-height: 3rem;
          /* identical to box height */
          color: rgba(0, 0, 0, 0.58);
          margin-bottom: 2rem;
        }

        .description {
          font-weight: 200;
          font-size: 1.7rem;
          line-height: 3rem;
          color: #000000;
        }
      }

    }

    .orderBox {

      height: 50%;
      width: 90%;
      display: flex;
      flex-direction: column;
      // flex-wrap: wrap;
      align-content: space-around;
      // justify-content: space-evenly;
      border-radius: 10px;
      background: #D9D9D9;

      .orderText {
        font-weight: 300;
        margin-top: 2%;
        margin-left: 4.9%;
        font-size: 3.2rem;
        line-height: 5.4rem;
        color: #000000;
      }

      .lastOrders {
        height: 70%;
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        padding-left: 5%;
        padding-right: 5%;
        align-items: center;
        justify-content: space-between;

        .orders {
          width: 45%;
          height: 30%;
          background: #07393C;
          box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.25);
          border-radius: 5px;
          display: flex;
          align-items: center;
          justify-content: center;

          .imgDetail {
            width: 25%;
          }

          .orderDetail {
            width: 40%;

            h1 {
              font-weight: 230;
              font-size: 2rem;
              line-height: 3rem;
              color: #F0EDEE;
            }

            h2 {
              font-weight: 230;
              font-size: 1.5rem;
              line-height: 2rem;
              color: rgba(217, 217, 217, 0.63);
            }


          }

          .orderDetail2 {
            h3 {
              font-weight: 230;
              font-size: 2.5rem;
              line-height: 5.4rem;
              color: #F0EDEE;
            }
          }



        }
      }

    }

    .configBox {
      display: flex;
      margin-top: 5%;
      height: 10%;
      width: 100%;
      justify-content: left;
      align-items: center;

      img {
        margin-left: 5%;
        width: 3.5%;
      }

      div {
        margin-left: 1%;
        font-size: 1.5rem;
      }
    }

  }
}


.rightContainer {
  // border: solid black;
  margin-top: 1.5%;
  margin-bottom: 1%;
  height: 97.5%;
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  .professionContainer {
    height: 55%;
    width: 90%;
    display: flex;
    flex-direction: column;
    // flex-wrap: wrap;
    align-content: space-around;
    // justify-content: space-evenly;
    border-radius: 10px;
    background: #D9D9D9;

    .professionText {

      font-weight: 300;
      margin-top: 2%;
      margin-left: 4.9%;
      font-size: 3.2rem;
      line-height: 5.4rem;
      color: #000000;
    }

    .professionList {
      height: 70%;
      width: 80%;
      margin-left: 4.8%;
      display: flex;
      flex-direction: column;
      padding-left: 5%;
      padding-right: 5%;
      align-items: center;
      justify-content: space-evenly;

      .professionComponent {
        background: #F0EDEE;
        padding: 0px;
        margin: 0px;
        height: 30%;
        width: 100%;
        border-radius: 3%;
        display: flex;
        align-items: center;
        justify-content: center;


        .professionAndDescription {
          height: 100%;
          justify-content: center;
          display: flex;
          flex-direction: column;
          width: 40%;
          h1 {
            font-weight: 300;
            font-size: 2.8rem;
            line-height: 3.5rem;
          }

          h2 {
            font-weight: 300;
            font-size: 1.5rem;
            line-height: 2rem;
          }
        }

        .professionStats {
          height: 100%;
          justify-content: center;
          align-items: center;
          display: flex;
          flex-direction: column;
          width: 25%;
          h3 {
            font-weight: 300;
            font-size: 2.0rem;
            line-height: 2.5rem;
          }
          h4 {
            font-weight: 300;
            font-size: 2.5rem;
            line-height: 3.5rem;
          }
        }
      }
    }
  }
}






// .boxHeader {

//     font-family: 'Poppins';
//     font-style: normal;
//     font-weight: 300;
//     font-size: 36px;
//     line-height: 54px;
//     color: #000000;
// }