.orders {
    width: 95%;
    height: 40%;
    background: #07393C;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

    .imgDetail {
      width: 10%;
      img{
        width: 80%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
      }
    }

    .orderDetail {
      width: 70%;

      h1 {
        font-weight: 230;
        font-size: 2rem;
        line-height: 3rem;
        color: #F0EDEE;
      }

      h2 {
        text-align: justify;
        font-weight: 230;
        font-size: 1.5rem;
        line-height: 2rem;
        color: rgba(217, 217, 217, 0.63);
      }


    }

    .orderDetail2 {
      h3 {
        font-weight: 230;
        font-size: 2.5rem;
        line-height: 5.4rem;
        color: #F0EDEE;
      }
    }
  }