.container {
	min-height: 10vh;
	display: flex;
	flex-flow: column nowrap;
	margin-top: 10px;
	align-items: center;

	.searchInput {
		height: 36px;
		width: 90%;
		text-align: center;
		border-radius: 10px;
	}

	.searchButton {
		margin-top: 10px;
		margin-bottom: 10px;
		height: 26px;
		width: 50%;
		border-radius: 10px;
		border: solid grey 1px;
	}
}
