.Padre{
    display: flex;
    justify-content: center;
}


.header{
    align-items: center;
    height: 150px;
}

.ContenedorForm{
    width: 90%;
    height: 750px;
    display: flex;
    justify-self: center;
    justify-content: space-between;
    text-align: center;
    background-color: rgba(240, 240, 240, 0.781);
    backdrop-filter: blur(20px);
    box-shadow: white;
    border-radius: 20px;
    flex-wrap: wrap;
    flex-direction: row;
}

.title{
    display: flex;
    text-align: center; 
    justify-content: center;
    color: rgb(255, 255, 0);
    -webkit-text-stroke: 3px rgb(13, 93, 223);
    letter-spacing: 10px;
    font-size: 60px;
    font-family: 'Pokemon Solid', sans-serif;
    margin: 0px;
    margin-bottom: 30px;
}

.Form{
    color: white;
    border-radius: 40px;
    width: 70%;
    display: flex;
    justify-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    column-count: 2;
    height: 100%;
    
}

.response{
    background-color: transparent;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 30%;
    height: fit-content;
    font-family: 'ProggyCleanTTSZBP', sans-serif;
    font-size: 25px;
    justify-items: center; 
    flex-direction: column;
}

.responseCard{
    height: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.buttonGet{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    font-family: 'ProggyCleanTTSZBP', sans-serif;
    font-size: 30px;
    width: 38%;
    height:45px;
    border-width:1px;
    color: rgb(255, 230, 2);
    border-radius: 30px 30px;
    border-color: rgb(253, 249, 19);;
    background:rgb(50, 53, 255);
}
.buttonGet:hover{
    background: rgba(243, 255, 87, 1);
    color: blue;
    border-color: 3px solid blue;
    cursor: url("https://cdn.custom-cursor.com/db/13573/32/minimal-pikachu-pointer.png"), auto;
    transform: scale(1.01);
}
.BackButton{
    margin-top: 10px;
    margin-left: 10px;
    font-family: 'Common Pixel', sans-serif;
    font-size: 17px;
    width:120px;
    height:35px;
    border-width:1px;
    color: rgb(255, 230, 2);
    border-radius: 15px 30px;
    border: 1px solid rgb(253, 249, 19);
    background:rgba(50, 54, 255, 0.541);
}

.BackButton:hover{
    background: rgba(243, 255, 87, 1);
    color: blue;
    border-color: 3px solid blue;
    cursor: url("https://cdn.custom-cursor.com/db/13573/32/minimal-pikachu-pointer.png"), auto;
    transform: scale(1.08); 
}


.DivInput{
    border-bottom: 0.5px solid black;
    background-color: transparent;
    height: 96%;
    width: 100%;
    margin-left: 15px;
}

.First{
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 168px;
}

.Second{
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 168px;
}

.Third{
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    overflow: hidden;
    height: 168px;
}

.chooseSection{
    height: 180px;
    width: 50%;
}

.imageFormInput{
    width: 50%;
    
}


.Four{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    overflow: hidden;
    height: 168px;
}


.Label{
    font-family: 'ProggyCleanTTSZBP', sans-serif;
    color: black;
    font-size: 36px;
    display: flex;
    text-align: center;
    justify-content: center;
    cursor: url("https://cdn.custom-cursor.com/db/13573/32/minimal-pikachu-pointer.png"), auto;
}

.InputForm{
    margin-top: 10px;
    height: 26px;
    width: 50%;
    border: none;
    background-color: transparent;
    font-family: 'ProggyCleanTTSZBP', sans-serif;
    text-align: center;
    font-size: 40px;
    text-align: center;  
    cursor: url("https://cdn.custom-cursor.com/db/13573/32/minimal-pikachu-pointer.png"), auto;
}

input[type=number]::-webkit-inner-spin-button{
    display: none;
}
input[type=number]::-webkit-outer-spin-button{
    display: none;
}
.InputForm:focus{
    outline: none;
}

.InputFormName{
    margin-top: 27px;
    height: 30px;
    width: 50%;
    border: none;
    background-color: transparent;
    font-family: 'ProggyCleanTTSZBP', sans-serif;
    text-align: center;
    font-size: 40px;
    text-align: center;
    cursor: url("https://cdn.custom-cursor.com/db/13573/32/minimal-pikachu-pointer.png"), auto;
}
.InputFormName:focus{
    outline: none;
    text-align: center; 
    font-size: 40px;
    cursor: url("https://cdn.custom-cursor.com/db/13573/32/minimal-pikachu-pointer.png"), auto;
}
.InputFormImage{
    margin-top: 40px;
    height: 30px;
    width: 50%;
    border: none;
    background-color: transparent;
    font-family: 'ProggyCleanTTSZBP', sans-serif;
    text-align: center;
    font-size: 30px;
    text-align: center;
    cursor: url("https://cdn.custom-cursor.com/db/13573/32/minimal-pikachu-pointer.png"), auto;
}
.InputFormImage:focus{
    outline: none;
    text-align: center; 
    cursor: url("https://cdn.custom-cursor.com/db/13573/32/minimal-pikachu-pointer.png"), auto;
}

.SelectInput{
    width: 90%;
    font-family: 'ProggyCleanTTSZBP', sans-serif;
    font-size: 25px;
    text-align: center;
    text-transform: capitalize;
    border-width:1px;
    color: rgb(255, 230, 2);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-color: rgb(253, 249, 19);;
    background:rgba(0, 4, 255, 0.781);
    height: 100px;
}
.SelectInput:hover{
    cursor: url("https://cdn.custom-cursor.com/db/13573/32/minimal-pikachu-pointer.png"), auto;
}
* {
    scrollbar-width: auto;
    scrollbar-color: #4d4d4d50 #7a7a7a7e;
    border: 0;
    margin: 0;
    padding: 0;
  }

  *::-webkit-scrollbar {
    width: 15px;
  }

  *::-webkit-scrollbar-track {
    background: #88888810;
    border-radius: 10px;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #4d4d4d61;
    border-radius: 5px;
    border: 0px none #45454561;
  }

option:hover{
    background-color: rgb(250, 248, 108);
    color: rgba(0, 4, 255, 0.781);
    font-size: 25px
}

option::selection{
    background-color: yellow;
    color: rgba(0, 4, 255, 0.781);
    font-size: 25px
}
.warning{
    font-size: 26px;;
    color: red;
    font-family: 'ProggyCleanTTSZBP', sans-serif;
    border-bottom: 1px solid red;
    margin: 1px;
 
    margin-left: 15px;
    background-color: transparent;
    width: 100%;
    height: 96%;
}

.errorType{
    margin: 0px;
    font-size: 26px;
    padding-bottom: 7px
}

.create{
    margin-left: 10px;
    font-family: 'Common Pixel', sans-serif;
    font-size: 20px;
    width: 100%;
    height: 40px;
    border-width:1px;
    color: rgb(255, 230, 2);
    border-radius: 30px 30px;
    border-color: rgb(253, 249, 19);;
    background:rgb(50, 53, 255);
    margin-top: 10px;
}
.create:hover{
    background: rgba(243, 255, 87, 1);
    color: blue;
    border-color: 3px solid blue;
    cursor: url("https://cdn.custom-cursor.com/db/13573/32/minimal-pikachu-pointer.png"), auto;
    transform: scale(1.01);
}