.faq {
  width: 100%;
  display: flex;
  justify-content: end;
  margin: -5% 10% 1% 30%;

  &__title {
    font-size: 4.5rem;
    line-height: 32px;
  }

  &__list {
    padding-top: 5%;
  }

  &__question {
    max-width: 350px;
    width: 100%;
    margin-left: -55%;
    border-bottom: 1px solid $light-grayish-blue;
  }

  &__question-button {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    background-color: transparent;
    padding: 0px;
    cursor: pointer;
    font-size: 1.7rem;

    padding-top: 5%;
    padding-bottom: 5%;

    &::after {
      content: url(../assets/icon-arrow-down.svg);
      margin-left: 8%;
      margin-right: -20%;
      transform: rotate(90deg);
    }

    &:hover {
      color: $page-color;
    }
  }

  &__desc {
    margin: 0% -15% 0% -10%;
    padding-right: 17px;
    height: 0;
    font-size: 2rem;
    overflow: hidden;
    transition: all 200ms ease-out;
  }
}
