.orders {
    width: 45%;
    height: 35%;
    background: #07393C;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s; 

    .imgDetail {
      width: 25%;
      img{
        width: 70%;
        height: 120%;
        border-radius: 50%;
        object-fit: cover;
      }
    }

    .orderDetail {
      width: 40%;

      h1 {
        font-weight: 230;
        font-size: 2rem;
        line-height: 3rem;
        color: #F0EDEE;
      }

      h2 {
        font-weight: 230;
        font-size: 1.5rem;
        line-height: 2rem;
        color: rgba(217, 217, 217, 0.63);
      }


    }

    .orderDetail2 {
      h3 {
        font-weight: 230;
        font-size: 2.5rem;
        line-height: 5.4rem;
        color: #F0EDEE;
      }
    }

    
    &:hover{
      transition: 0.5s;
      scale: 1.04;
  }
  }