//Primary Text colors
$very-dark-desaturated-blue: hsl(238, 29%, 16%);
$page-color: rgb(48, 111, 135);

// Background gradient:
$soft-green: hsl(162, 29%, 45%);
$soft-lightblue-aqua: hsl(199, 62%, 58%);

//Neutral Text colors
$very-dark-grayish-blue: hsl(237, 12%, 33%);
$dark-grayish-blue: hsl(240, 6%, 50%);
$dark-grayish-green: rgba(26, 46, 54, 0.9);

//Dividers
$light-grayish-blue: hsl(240, 5%, 91%);
