 .containerCard{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100%;
}
/*
.card{
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
    border: 1px solid black ;
    border-radius: 20px;
    margin-top: 45px;
    align-items: center;
    background-color: white;
}
*/


/* Imagenes */
.img{
  margin-top: 30px;
  width: 270px;
  height: 270px;
}

.image{
  object-fit: cover;
  border-radius: 20px;
  margin-top: 30px;
  width: 270px;
  height: 270px;
}


.flip_card {
  background-color: transparent;
  width: 300px;
  height: 400px;
  margin-top: 45px;
  margin: 40px;
}


.flip_card_inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  
}

/* Flippea la card */
.flip_card:hover .flip_card_inner {
  transform: rotateY(180deg);
}

/* Posicion de atras y adelante */
.flip_card_front, .flip_card_back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; 
  backface-visibility: hidden;
  border-radius: 20px;
  align-items: center;
  backdrop-filter: blur(10px);
}

/* Estilos de adelante  */
.flip_card_front {
  color: rgb(0, 0, 0);
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(255,255,255,0.8295693277310925) 100%);
}

/* Estilos de atras*/
.flip_card_back {
  text-decoration: none;
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(255, 241, 111, 0.63) 100%);
  color: black;
  transform: rotateY(180deg);
  backdrop-filter: blur(10px);
}

/* Estilos del Link*/
.Link{
  text-decoration: none;  
}
.Link:hover{
  cursor: url("https://cdn.custom-cursor.com/db/13573/32/minimal-pikachu-pointer.png"), auto;
}

/* Estilos del nombre del Pokemon*/
.name{
  color: rgb(241, 241, 41);
  -webkit-text-stroke: 2px rgb(13, 93, 223);
  letter-spacing: 5px;
  font-size: 40px;
  font-family: 'Pokemon Solid', sans-serif;
  text-transform: capitalize;
}

.name:hover{
  cursor: url("https://cdn.custom-cursor.com/db/13573/32/minimal-pikachu-pointer.png"), auto;
}

.tipos{
  text-decoration: none;
  font-family: 'ProggyCleanTTSZBP', sans-serif;
  font-size: 40px;
  color: black
}

.tipos:hover{
  cursor: url("https://cdn.custom-cursor.com/db/13573/32/minimal-pikachu-pointer.png"), auto;
}

.tiposCu{
  color: black;
  text-decoration: none;
  font-family: 'ProggyCleanTTSZBP', sans-serif;
  font-size: 40px;
  margin-top: 20px;
  text-transform: capitalize;
}

.tiposCu:hover{
  cursor: url("https://cdn.custom-cursor.com/db/13573/32/minimal-pikachu-pointer.png"), auto;
}