.container{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #dfdddd;

    .link{
        transition: 0.5s;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: black;
        text-decoration: none;
        font-size: 1.6rem;
        margin-inline: 3%;
        border-bottom: 3px solid #dfdddd;

        &:hover{
            cursor: pointer;
            transition: 0.5s;
            border-color: #2C666E;
        }

    }

    .menu{
        width: 15%;
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 2%;

    }

    .logo{
        height: 100%;

        img{
            width: 100%;
            height: 100%;
        }
    }

    .profile{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 25%;
        height: 100%;

        .user{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 90%;
            height: 90%;

            .link{
                width: 25%;
                height: 90%;
                display: flex;
                font-size: 1.8rem;
                justify-content: space-around;
                align-items: center;

                img{
                    width: 50%;
                }
            }

            .profileimg{
                transition: 0.5s;
                width: 25%;
                height: 90%;
                display: flex;
                justify-content: center;
                align-items: center;
                object-fit: cover;

                img{
                    width: 65%;
                    height: 70%;
                    border: 5px solid #c9c9c997;
                    border-radius: 50%;
                    object-fit: cover
                }

                &:hover{
                    transition: 0.5s;
                    scale: 1.02;
                }
            }
            .profileimgPremium{
                transition: 0.5s;
                width: 15%;
                height: 60%;
                margin-left: 5%;
                border-radius: 50%;
                border: 2px solid #fdc644;
                box-shadow: 0px 0px 27px 7px #FFF780;
                background-color: #c9c9c971;
                object-fit: cover;

                img{
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    object-fit: cover
                }

                &:hover{
                    transition: 0.5s;
                    scale: 1.02;
                }
            }
        }

        .nouser{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            width: 90%;
            height: 90%;

            .link{
                margin-right: 5%;
                width: 45%;
                height: 90%;
                display: flex;
                font-size: 1.8rem;
                justify-content: space-around;
                align-items: center;

                img{
                    width: 20%;
                }
            }
        }
    }
}